<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>angular-jpeg demo</title>
  <style type="text/css">
    .droppable {
      border: 3px dashed gray;
      padding: 30px;
    }
    .droppable.hover {
      background: lightgray;
    }
  </style>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../src/angular-jpeg.js"></script>
  <script src="demo.js"></script>
</head>
<body ng-app="angular-jpeg-demo" ng-controller="DemoController">
  <h1>angular-jpeg demo</h1>
  <p class="droppable" drop-file>Drop a JPEG onto this element</p>
  <p ng-if="state == 'loading'">Loading...</p>
  <p ng-if="state == 'error'">{{error}}</p>
  <pre ng-if="state == 'loaded'">{{view | json}}</pre>
  </form>
</body>
</html>